<div class="container mx-auto px-4 py-8">
  <h1 class="text-4xl font-bold mt-8 mb-8 text-center">Lista de Aulas</h1>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white text-center">
      <thead>
        <tr class="bg-gray-700 text-white">
          <th class="py-2 px-4 border-b text-center">ID</th>
          <th class="py-2 px-4 border-b text-center">Nombre</th>
          <th class="py-2 px-4 border-b text-center">Latitud</th>
          <th class="py-2 px-4 border-b text-center">Longitud</th>
          <th class="py-2 px-4 border-b text-center">Facultad</th>
          <th class="py-2 px-4 border-b text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aula of aulas">
          <td class="py-2 px-4 border-b text-center">{{ aula.id }}</td>
          <td class="py-2 px-4 border-b text-center">{{ aula.nombre }}</td>
          <td class="py-2 px-4 border-b text-center">{{ aula.latitud }}</td>
          <td class="py-2 px-4 border-b text-center">{{ aula.longitud }}</td>
          <td class="py-2 px-4 border-b text-center">{{ aula.facultad.nombre }}</td>
          <td class="py-2 px-4 border-b text-center">
            <button (click)="editAula(aula.id)" class="bg-yellow-500 text-white px-3 py-1 rounded-md">Editar</button>
            <button (click)="confirmDelete(aula.id)" class="bg-red-500 text-white px-3 py-1 rounded-md ml-2">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-4">
    <button (click)="addAula()" class="bg-blue-950 text-white px-4 py-2 rounded-md">Añadir Aula</button>
  </div>
</div>

<app-aula-modal *ngIf="showModal" [aula]="selectedAula" [isEditMode]="isEditMode" (closeModal)="handleCloseModal()" (saveAula)="saveAula($event)"></app-aula-modal>

<app-confirm-modal *ngIf="showConfirmModal" (confirm)="deleteAula()" (cancel)="handleCloseConfirmModal()"></app-confirm-modal>

<!-- Toast Notification -->
<div *ngIf="toastMessage" [ngClass]="toastClass" class="toast">
  {{ toastMessage }}
</div>
