<div class="container">
  <!--  mx-auto px-4 py-8 -->
  <!-- <div class="flex justify-center mt-6 space-x-4">
    <a href="/usuarios" class="custom-button">Usuarios</a>
    <a href="/facultades" class="custom-button">Facultad</a>
    <a href="/carreras" class="custom-button">Carreras</a>
    <a href="/materias" class="custom-button">Materias</a>
    <a href="/aulas" class="custom-button">Aulas</a>
  </div> -->
  <h1 class="text-4xl font-bold mt-8 mb-8 text-center">Lista de Usuarios</h1>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-slate-100 rounded-lg shadow-md">
      <thead>
        <tr class="bg-gray-700 text-white">
          <th class="py-2 px-4 border-b text-left">ID</th>
          <th class="py-2 px-4 border-b text-left">Nombre</th>
          <th class="py-2 px-4 border-b text-left">Apellido</th>
          <th class="py-2 px-4 border-b text-left">Correo Electrónico</th>
          <th class="py-2 px-4 border-b text-left">Rol</th>
          <th class="py-2 px-4 border-b text-left">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" class="hover:bg-gray-300">
          <td class="py-2 px-4 border-b">{{ user.id }}</td>
          <td class="py-2 px-4 border-b">{{ user.nombre }}</td>
          <td class="py-2 px-4 border-b">{{ user.apellido }}</td>
          <td class="py-2 px-4 border-b">{{ user.email }}</td>
          <td class="py-2 px-4 border-b">{{ user.rol.nombre }}</td>
          <td class="py-2 px-4 border-b">
            <button (click)="editUser(user.id)" class="bg-yellow-500 text-white px-3 py-1 rounded-md hover:bg-gray-600">Editar</button>
            <button (click)="confirmDeleteUser(user.id)" class="bg-red-500 text-white px-3 py-1 rounded-md ml-2 hover:bg-gray-600">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button (click)="addUser()" class="bg-blue-950 text-white px-4 py-2 rounded-md mt-4 hover:bg-gray-600">Añadir Usuario</button>
  <div *ngIf="toastMessage" class="mt-4 p-2 rounded {{ toastClass }}">
    {{ toastMessage }}
  </div>
</div>

<app-user-modal *ngIf="showModal" [user]="selectedUser" [isEditMode]="isEditMode" (closeModal)="handleCloseModal()" (saveUser)="saveUser($event)"></app-user-modal>

<app-confirm-modal *ngIf="showConfirmModal" [message]="'¿Está seguro que desea eliminar este usuario?'" (confirm)="deleteUser()" (cancel)="cancelDelete()"></app-confirm-modal>
