<div class="modal-overlay" (click)="onClose()"></div>
<div class="modal-container">
  <div class="modal-header">
    <h2>{{ isEditMode ? 'Editar Licencia' : 'Añadir Licencia' }}</h2>
    <button class="close-button" (click)="onClose()">×</button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSave()">
      <div class="form-group">
        <label for="fechaInicio">Fecha de Inicio</label>
        <input type="date" id="fechaInicio" [(ngModel)]="licencia.fechaInicio" name="fechaInicio" required />
      </div>
      <div class="form-group">
        <label for="fechaFin">Fecha de Fin</label>
        <input type="date" id="fechaFin" [(ngModel)]="licencia.fechaFin" name="fechaFin" required />
      </div>
      <div class="form-group">
        <label for="motivo">Motivo</label>
        <input type="text" id="motivo" [(ngModel)]="licencia.motivo" name="motivo" required />
      </div>
      <div class="form-group">
        <label for="estado">Estado</label>
        <input type="text" id="estado" [(ngModel)]="licencia.estado" name="estado" required />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="docente">Docente</label>
        <!-- <select id="docente" [(ngModel)]="licencia.docentes.id" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
          <option [ngValue]="null" disabled>Seleccione un docente</option>
          <option *ngFor="let d of docentes" [ngValue]="d.id">{{ d.nombre }}</option>
        </select> -->
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">Cancelar</button>
        <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Guardar Cambios' : 'Crear Licencia' }}</button>
      </div>
    </form>
  </div>
</div>
