<div class="container mx-auto px-4 py-8">
  
  <h1 class="text-4xl font-bold mt-6 mb-6 text-center">Lista de Materias</h1>

  <table class="min-w-full bg-white text-center">
    <thead>
      <tr class="bg-gray-700 text-white">
        <th class="py-2 px-4 border-b">ID</th>
        <th class="py-2 px-4 border-b">Nombre</th>
        <th class="py-2 px-4 border-b">Créditos</th>
        <th class="py-2 px-4 border-b">Carrera</th>
        <th class="py-2 px-4 border-b">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let materia of materias">
        <td class="py-2 px-4 border-b">{{ materia.id }}</td>
        <td class="py-2 px-4 border-b">{{ materia.nombre }}</td>
        <td class="py-2 px-4 border-b">{{ materia.creditos }}</td>
        <td class="py-2 px-4 border-b">{{ materia.carrera.nombre }}</td>
        <td class="py-2 px-4 border-b">
          <button (click)="editMateria(materia.id)" class="bg-yellow-500 text-white px-3 py-1 rounded-md">Editar</button>
          <button (click)="confirmDelete(materia.id)" class="bg-red-500 text-white px-3 py-1 rounded-md ml-2">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="flex justify-start mt-4">
    <button (click)="addMateria()" class="bg-blue-950 text-white px-4 py-2 rounded-md">Añadir Materia</button>
  </div>
</div>

<app-materia-modal *ngIf="showModal" [materia]="selectedMateria" [isEditMode]="isEditMode" (closeModal)="handleCloseModal()" (saveMateria)="saveMateria($event)"></app-materia-modal>

<app-confirm-modal *ngIf="showConfirmModal" (confirm)="deleteMateria()" (cancel)="handleCloseConfirmModal()"></app-confirm-modal>

<!-- Toast Notification -->
<div *ngIf="toastMessage" [ngClass]="toastClass" class="toast">
  {{ toastMessage }}
</div>
