<div class="container mx-auto px-4 py-8">
  <div class="flex justify-center mt-6">
    <h1 class="text-4xl font-bold mt-8 mb-8 text-center">Lista de Carreras</h1>
  </div>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white text-center">
      <thead>
        <tr class="bg-gray-700 text-white">
          <th class="py-2 px-4 border-b text-center">ID</th>
          <th class="py-2 px-4 border-b text-center">Nombre</th>
          <th class="py-2 px-4 border-b text-center">Código</th>
          <th class="py-2 px-4 border-b text-center">Facultad</th>
          <th class="py-2 px-4 border-b text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carrera of carreras">
          <td class="py-2 px-4 border-b text-center">{{ carrera.id }}</td>
          <td class="py-2 px-4 border-b text-center">{{ carrera.nombre }}</td>
          <td class="py-2 px-4 border-b text-center">{{ carrera.codigo }}</td>
          <td class="py-2 px-4 border-b text-center">{{ carrera.facultad.nombre }}</td>
          <td class="py-2 px-4 border-b text-center">
            <button (click)="editCarrera(carrera.id)" class="bg-yellow-500 text-white px-3 py-1 rounded-md">Editar</button>
            <button (click)="confirmDelete(carrera.id)" class="bg-red-500 text-white px-3 py-1 rounded-md ml-2">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class=" mt-4">
    <button (click)="addCarrera()" class="bg-blue-950 text-white px-4 py-2 rounded-md">Añadir Carrera</button>
  </div>
</div>

<app-carrera-modal *ngIf="showModal" [carrera]="selectedCarrera" [isEditMode]="isEditMode" (closeModal)="handleCloseModal()" (saveCarrera)="saveCarrera($event)"></app-carrera-modal>

<app-confirm-modal *ngIf="showConfirmModal" (confirm)="deleteCarrera()" (cancel)="handleCloseConfirmModal()"></app-confirm-modal>

<!-- Toast Notification -->
<div *ngIf="toastMessage" [ngClass]="toastClass" class="toast">
  {{ toastMessage }}
</div>
